@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-login{
    background-image: url(../img/fondolegal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
}
